<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <div class="loader" *ngIf="loading"></div>
              <form  [formGroup]="email_form"  (submit)="search_username()">
                <h1>Password</h1>
                <p class="text-muted">Forgot Password</p>
                <p *ngIf="msg.error.length > 0" class="alert alert-danger">{{msg.error}}</p>
                <p  *ngIf="msg.success.length >0" class="alert alert-success">{{msg.success}}</p>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input  formControlName="username" type="text" class="form-control" placeholder="Username" autocomplete="username"
                          [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                </div>

                <button  [disabled]="loading" type="submit" class="btn btn-block btn-success">Search Username</button>
              </form>
            </div>
            <!--<div class="card-footer p-4">
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-block btn-facebook" type="button"><span>facebook</span></button>
                </div>
                <div class="col-6">
                  <button class="btn btn-block btn-twitter" type="button"><span>twitter</span></button>
                </div>
              </div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
