<div class="animated fadeIn">
     <h1><i class="icon icon-layers"></i>Accounting</h1>
     <hr />
  <div class="row ">
      
      <div  class='col-sm-3' >
        <div class="card">
            <a href="/#accounting/payments" style='margin: auto;display: block'> 
                <i class="icon icon-credit-card center"></i>  Payments </a> 
        </div>
    </div>
     
    <div  class='col-sm-3' >
        <div class="card">
            <a href="/#accounting/accounts" style='margin: auto;display: block'> <i class="icon icon-briefcase center"></i>  Accounts </a> 
        </div>
    </div>
      
        <div  class='col-sm-3' >
        <div class="card">
            <a href="/#accounting/transactions" style='margin: auto;display: block'> <i class="icon icon-list center"></i>  Transactions </a> 
        </div>
    </div>


  </div>

</div>
