<div class="animated fadeIn">
  <div class="row">
    <div  [ngClass]="selected_store == null ? 'col-lg-12':'col-lg-9'" >
        <div class="card">
          <div class="card-header">
            <i class="fa fa-align-justify"></i> Store List
            <div class="row pull-right">

              <div class="col-md-12">
                  <mat-form-field class="search-form-field" floatLabel="never">
                    <input matInput [(ngModel)]='searchKey' autocomplete="off" placeholder="Search" (keyup)="applyFilter()"  />
                  </mat-form-field>
                &nbsp; &nbsp;
                  <button mat-button matSuffix  aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()" >
                    <i class="fa fa-times-circle"></i>
                  </button>
                &nbsp; &nbsp;
                  <button mat-raised-button (click)="onCreate()">
                    <i class="fa fa-plus-circle"></i> Create
                  </button> &nbsp; &nbsp;
                <button mat-raised-button (click)="onBulkDelete()" [disabled]="stores_to_delete.length == 0" >
                  <i class="fa fa-trash"></i> Bulk delete
                </button>
              </div>

            </div>
          </div>
          <div class="card-body">

            <!---->
            <div class="mat-elevation-z8">

              <mat-paginator [pageSizeOptions]="[5,10,25,50,100]" [pageSize]="25" showFirstLastButtons></mat-paginator>

              <mat-table [dataSource]="store_list" matSort>

                <ng-container matColumnDef="parent_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Group</mat-header-cell>
                  <mat-cell *matCellDef="let item">{{item.parent_id}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                  <mat-cell *matCellDef="let item"><a href="#" (click)="showAdditionalInfos($event, item)" >{{item.name}}</a></mat-cell>
                </ng-container>
                <ng-container matColumnDef="shopping_center">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Shopping center</mat-header-cell>
                  <mat-cell *matCellDef="let item">{{item.shopping_center}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="address">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
                  <mat-cell *matCellDef="let item">{{item.address}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="tel_number">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Telephone</mat-header-cell>
                  <mat-cell *matCellDef="let item">{{item.tel_number}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="avatar">
                  <mat-header-cell *matHeaderCellDef>Logo</mat-header-cell>
                  <mat-cell *matCellDef="let item"><img src="{{stores_image_path}}{{item.avatar}}" alt="Logo" width="125"/></mat-cell>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let item">
                    <button mat-icon-button color="primary" (click)="onEdit(item)"><i class="fa fa-edit  text-primary"></i></button> &nbsp; &nbsp;
                    <button mat-icon-button color="warn" (click)="onDelete(item)"><i class="fa fa-trash  text-danger"></i></button>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="delete_actions">
                  <mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="checkAll($event.checked)"></mat-checkbox></mat-header-cell>
                  <mat-cell *matCellDef="let item">
                    <mat-checkbox [checked]="c_all" (change)="push($event.checked, item)"></mat-checkbox>
                  </mat-cell>
                </ng-container>


                <ng-container matColumnDef="loading">
                  <mat-footer-cell *matFooterCellDef colspan="8">
                    <mat-spinner></mat-spinner>
                  </mat-footer-cell>
                </ng-container>
                <ng-container matColumnDef="noData">
                  <mat-footer-cell *matFooterCellDef colspan="8">
                      No store Found
                  </mat-footer-cell>
                </ng-container>



                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':store_list!=null}"></mat-footer-row>
                <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(store_list!=null && store_list.data.length === 0)}"></mat-footer-row>

              </mat-table>



            </div>
          </div>
        </div>
    </div>

      <div class="col-lg-3" *ngIf="selected_store">
        <div class="card">
          <div class="card-header">

            <div class="card-header-actions">
              <!--<button type="button" class="card-header-action btn btn-link btn-setting"><i class="icon-settings"></i></button>-->

              <button type="button" class="card-header-action btn btn-link btn-close" (click)="closeAdditionalInfosWindow()"><i class="icon-close"></i></button>
            </div>
            <br class="clear"/>
            <i class="fa fa-align-justify"></i>  {{selected_store.parent_id}} {{selected_store.name}} - {{selected_store.shopping_center}}

          </div>
          <div class="card-body">
            <h6> Store Representatives</h6>
            <hr/>
            <table class="table table-striped">
              <thead>
              <tbody>
              <tr>
                <th>Name</th>
                <td>{{selected_store.store_representatives_name}}</td>
              </tr>
              <tr>
                <th>Surname</th>
                <td>{{selected_store.store_representatives_surname}}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{selected_store.store_representatives_email}}</td>
              </tr>
              <tr>
                <th>Mobile</th>
                <td>{{selected_store.store_representatives_cell_no}}</td>
              </tr>

              </tbody>
            </table>
            <h6> Operating Times</h6>
            <hr/>
            <table class="table table-striped">
              <thead>
              <tbody>
              <tr>
                <th>Weekdays</th>
                <td>{{selected_store.operating_times_weekday_from}} - {{selected_store.operating_times_weekday_to}} </td>
              </tr>
              <tr>
                <th>Saturdays</th>
                <td>{{selected_store.operating_times_saturday_from}} - {{selected_store.operating_times_saturday_to}} </td>
              </tr>
              <tr>
                <th>Sundays</th>
                <td>{{selected_store.operating_times_sunday_from}} - {{selected_store.operating_times_sunday_to}} </td>
              </tr>
              <tr>
                <th>Public Holiday</th>
                <td>{{selected_store.operating_times_ph_from}}  - {{selected_store.operating_times_ph_to}} </td>
              </tr>

              </tbody>
            </table>

          </div>
        </div>
      </div>
  </div>

</div>
